body {
 background-color: #ecececd9;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 10px; /* row-gap column gap */
  padding: 15px;
  margin-top: 20px;
}

h1 {
  margin:auto;
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: auto;
  text-align: center;
}

#inputs fieldset {
  border: none;
  margin: 0px;
}

.output {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  margin: 10px 0px;
}

.intro {
  
}

#inputs label {
  font-size: 18px;
  font-weight: bold;
}

#inputs input[type="text"] {
  padding: 5px 10px;
  width: 100%;
  border: solid thin #2b2b2b;
  border-radius: 7px;
  margin: 3px 0px;
}

#inputs input[type="text"]:placeholder {
  font-size: 14px;
  color: gray;
}